.env
# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/

# Environment variables
.env

# Logs
logs/
*.log

# IDE files
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/

jobs_warehouse.duckdb
